<div appCentered [centerText]="true">
  <h1>Login</h1>
  <app-alert
    [message]="error"
    *ngIf="error"
    (closeAlert)="onHandleError()"
  ></app-alert>
  <mat-spinner *ngIf="isLoading" appCentered></mat-spinner>
  <form
    class="form"
    appCentered
    (ngSubmit)="onSubmit()"
    [formGroup]="loginForm"
    *ngIf="!isLoading"
  >
    <mat-form-field class="full-width">
      <input
        required
        matInput
        type="email"
        placeholder="E-Mail Address (@test.com)"
        formControlName="email"
        autocomplete="username"
      />
      <mat-error *ngIf="email.hasError('required')">
        Email is <strong>required!</strong>
      </mat-error>
      <mat-error *ngIf="email.hasError('email')">
        Email is not <strong>valid!</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        required
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
        autocomplete="current-password"
      />
      <mat-error *ngIf="password.hasError('required')">
        Password is <strong>required!</strong>
      </mat-error>
      <mat-error *ngIf="password.hasError('minlength')">
        Password is not <strong>valid!</strong>, should be at least
        {{ minPasswordLength }}
        characters.
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!loginForm.valid"
    >
      Login
    </button>
  </form>
  <p [ngStyle]="{ color: getColor() }" *ngIf="!isLoading">
    Please enter the correct credentials
  </p>
</div>
