<div appCentered [centerText]="true">
  <h1>Login</h1>
  <form class="form" appCentered (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <mat-form-field class="full-width">
      <input required matInput type="text" placeholder="User Name" formControlName="userName" />
      <mat-error>
        Username is not <strong>required!</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input required matInput type="password" placeholder="Password" formControlName="password" />
      <mat-error *ngIf="password.hasError('required')">
        Password is <strong>required!</strong>
      </mat-error>
      <mat-error *ngIf="password.hasError('minlength')">
        Password is not <strong>valid!</strong>, should be at least
        {{minPasswordLength}}
        characters.
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
      Login
    </button>
  </form>
  <p [ngStyle]="{ color: getColor() }">Please enter the correct credentials</p>
</div>
