<div appCentered [centerText]="true">
  <h1>Login</h1>
  <form class="form" appCentered (ngSubmit)="onSubmit()" #form="ngForm">
    <mat-form-field class="full-width">
      <input
        required
        matInput
        type="text"
        placeholder="User Name"
        ngModel
        name="username"
        required
        #username="ngModel"
      />
      <mat-error *ngIf="!username.valid">
        Username is not <strong>valid!</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input
        required
        matInput
        type="password"
        placeholder="Password"
        ngModel
        name="password"
        required
        minlength="3"
        #password="ngModel"
      />
      <mat-error *ngIf="!password.valid">
        Password is not <strong>valid!</strong>, should be at least 3
        characters.
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!form.valid"
    >
      Login
    </button>
  </form>
  <p [ngStyle]="{ color: getColor() }">Please enter the correct credentials</p>
</div>
