<div appCentered>
  <!-- will only display if there is no product -->
  <div *ngIf="products.length === 0; else haveProducts">
    <h1>There are no products in the cart!</h1>
    <p>Go back <a routerLink="/">shopping!</a></p>
  </div>
  <ng-template #haveProducts>
    <h3>Cost: {{ productsCost | currency }}</h3>
  </ng-template>
  <!-- will only display if there is at least one product -->
  <mat-list *ngFor="let product of products" [@itemRemove]>
    <mat-list-item class="cart-item">
      <img [src]="product.imagePath" alt="product avatar" matListAvatar />
      <h4 mat-line>
        <strong>{{ product.name | titlecase }}</strong> -
        <i class="money">{{ product.costPrice | currency }}</i>
      </h4>
      <p mat-line>{{ product.description }}</p>
      <p class="amount">(x{{ product.amount }})</p>
      <button
        mat-mini-fab
        color="warn"
        (click)="onRemoveProduct(product.name)"
        class="remove-button"
      >
        <mat-icon>delete_forever</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
